In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dftrain = pd.read_csv('train.csv')

In [3]:
dftest  = pd.read_csv('test.csv')

In [4]:
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [5]:
dftest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           23490 non-null  int64
 1   department            23490 non-null  object
 2   region                23490 non-null  object
 3   education             22456 non-null  object
 4   gender                23490 non-null  object
 5   recruitment_channel   23490 non-null  object
 6   no_of_trainings       23490 non-null  int64
 7   age                   23490 non-null  int64
 8   previous_year_rating  21678 non-null  float64
 9   length_of_service     23490 non-null  int64
 10  KPIs_met >80%         23490 non-null  int64
 11  awards_won?           23490 non-null  int64
 12  avg_training_score    23490 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 2.3+ MB

In [6]:
dftrain.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [11]:
dftrain.education.value_counts(dropna=False)

Bachelor's          36669
Master's & above    14925
NaN                  2409
Below Secondary       805
Name: education, dtype: int64

In [12]:
dftrain.previous_year_rating.value_counts(dropna=False)

3.0    18618
5.0    11741
4.0     9877
1.0     6223
2.0     4225
NaN     4124
Name: previous_year_rating, dtype: int64

In [15]:
dftrain.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [ ]:
dftrain.education = dftrain.education.fillna('Missing')

In [16]:
# for preprocessin we combine the data frame

# Add dependent variable temporraily to test data

dftest['is_promoted']='test'

In [17]:
combinedf = pd.concat([dftrain,dftest],axis = 0)

In [19]:
combinedf.shape

(78298, 14)

In [21]:
combinedf.education.value_counts(dropna=False)

Bachelor's          52247
Master's & above    21429
NaN                  3443
Below Secondary      1179
Name: education, dtype: int64

In [22]:
combinedf.columns

Index(['employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met >80%', 'awards_won?',
       'avg_training_score', 'is_promoted'],
      dtype='object')

In [23]:
objcols = combinedf[['department', 'region', 'education', 'gender',
       'recruitment_channel', 'previous_year_rating',
        'KPIs_met >80%', 'awards_won?',
        'is_promoted']]

In [24]:
numcols = combinedf[[ 'no_of_trainings','age','length_of_service','avg_training_score']]

In [43]:
for i in objcols.columns:
    freq = objcols[i].value_counts(dropna=False)
    print(freq)

Sales & Marketing    24155
Operations           16112
Procurement          10158
Technology           10149
Analytics             7671
Finance               3627
HR                    3503
Legal                 1484
R&D                   1439
Name: department, dtype: int64
region_2     17642
region_22     9167
region_7      6825
region_15     3938
region_13     3815
region_26     3271
region_31     2779
region_4      2478
region_27     2369
region_16     2055
region_28     1913
region_11     1886
region_23     1691
region_29     1408
region_32     1378
region_19     1284
region_14     1177
region_20     1176
region_17     1157
region_25     1156
region_5      1108
region_6       988
region_30      930
region_8       924
region_10      917
region_1       848
region_24      727
region_12      715
region_9       600
region_21      590
region_3       493
region_34      447
region_33      395
region_18       51
Name: region, dtype: int64
Bachelor's          55690
Master's & above    21429
Below Secondary      1179
Name: education, dtype: int64
m    55092
f    23206
Name: gender, dtype: int64
other       43524
sourcing    33181
referred     1593
Name: recruitment_channel, dtype: int64
3.0    32475
5.0    16838
4.0    14126
1.0     8903
2.0     5956
Name: previous_year_rating, dtype: int64
0    50578
1    27720
Name: KPIs_met >80%, dtype: int64
0    76493
1     1805
Name: awards_won?, dtype: int64
0       50140
test    23490
1        4668
Name: is_promoted, dtype: int64

In [42]:
# Most_frequent imputaion

for i in objcols.columns:
    objcols[i] = objcols[i].fillna(objcols[i].value_counts().idxmax())

C:\Users\Hp\AppData\Local\Temp\ipykernel_2252\4279494531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  objcols[i] = objcols[i].fillna(objcols[i].value_counts().idxmax())
C:\Users\Hp\AppData\Local\Temp\ipykernel_2252\4279494531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  objcols[i] = objcols[i].fillna(objcols[i].value_counts().idxmax())
C:\Users\Hp\AppData\Local\Temp\ipykernel_2252\4279494531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  objcols[i] = objcols[i].fillna(objcols[i].value_counts().idxmax())
C:\Users\Hp\AppData\Local\Temp\ipykernel_2252\4279494531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  objcols[i] = objcols[i].fillna(objcols[i].value_counts().idxmax())
C:\Users\Hp\AppData\Local\Temp\ipykernel_2252\4279494531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  objcols[i] = objcols[i].fillna(objcols[i].value_counts().idxmax())
C:\Users\Hp\AppData\Local\Temp\ipykernel_2252\4279494531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  objcols[i] = objcols[i].fillna(objcols[i].value_counts().idxmax())
C:\Users\Hp\AppData\Local\Temp\ipykernel_2252\4279494531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  objcols[i] = objcols[i].fillna(objcols[i].value_counts().idxmax())
C:\Users\Hp\AppData\Local\Temp\ipykernel_2252\4279494531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  objcols[i] = objcols[i].fillna(objcols[i].value_counts().idxmax())
C:\Users\Hp\AppData\Local\Temp\ipykernel_2252\4279494531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  objcols[i] = objcols[i].fillna(objcols[i].value_counts().idxmax())

In [50]:
objcols.previous_year_rating.value_counts(dropna=False)

3.0    32475
5.0    16838
4.0    14126
1.0     8903
2.0     5956
Name: previous_year_rating, dtype: int64

In [51]:
objcols.education.value_counts(dropna=False)

Bachelor's          55690
Master's & above    21429
Below Secondary      1179
Name: education, dtype: int64

In [53]:
objcols.columns

Index(['department', 'region', 'education', 'gender', 'recruitment_channel',
       'previous_year_rating', 'KPIs_met >80%', 'awards_won?', 'is_promoted'],
      dtype='object')

In [55]:
objcols_dummy = pd.get_dummies(objcols, columns=['department', 'region', 'education', 'gender', 'recruitment_channel',
       'previous_year_rating', 'KPIs_met >80%', 'awards_won?'])

# Dummy encoding only on independent variable (X's)
# LabelEconder only on dependent variable (y)  in classification only.

In [58]:
objcols_dummy.shape

(78298, 61)

In [60]:
objcols_dummy.head()

,is_promoted,department_Analytics,department_Finance,department_HR,department_Legal,department_Operations,department_Procurement,department_R&D,department_Sales & Marketing,department_Technology,...,recruitment_channel_sourcing,previous_year_rating_1.0,previous_year_rating_2.0,previous_year_rating_3.0,previous_year_rating_4.0,previous_year_rating_5.0,KPIs_met >80%_0,KPIs_met >80%_1,awards_won?_0,awards_won?_1
0,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,1,1,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
2,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,1,0,1,0
3,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,1,0,1,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,1,0,1,0

In [61]:
# Combine both dataframes

combinedf_clean = pd.concat([numcols,objcols_dummy], axis = 1)

In [64]:
dftrain = combinedf_clean[combinedf_clean.is_promoted!='test']
dftest  = combinedf_clean[combinedf_clean.is_promoted=='test']

In [65]:
dftest_df = dftest.drop('is_promoted',axis = 1)

In [70]:
dftrain.head()

,no_of_trainings,age,length_of_service,avg_training_score,is_promoted,department_Analytics,department_Finance,department_HR,department_Legal,department_Operations,...,recruitment_channel_sourcing,previous_year_rating_1.0,previous_year_rating_2.0,previous_year_rating_3.0,previous_year_rating_4.0,previous_year_rating_5.0,KPIs_met >80%_0,KPIs_met >80%_1,awards_won?_0,awards_won?_1
0,1,35,8,49,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,1,0
1,1,30,4,60,0,0,0,0,0,1,...,0,0,0,0,0,1,1,0,1,0
2,1,34,7,50,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
3,2,39,10,50,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
4,1,45,2,73,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0

In [90]:
X = dftrain[['no_of_trainings','age','length_of_service','avg_training_score']]
y = dftrain.is_promoted

In [91]:
from sklearn.preprocessing import LabelEncoder

In [92]:
y = LabelEncoder().fit_transform(y)

In [93]:
from sklearn.linear_model import LogisticRegression

In [94]:
logit = LogisticRegression()

In [95]:
logitmodel = logit.fit(X,y)

In [96]:
logitmodel.score(X,y)

0.9148299518318493

In [99]:
logitmodel.intercept_

array([-5.06231887])

In [100]:
logitmodel.coef_

array([[-0.24438618, -0.00532716,  0.00271773,  0.04716254]])

In [101]:
pd.DataFrame(logitmodel.coef_, columns=X.columns)

   no_of_trainings       age  length_of_service  avg_training_score
0        -0.244386 -0.005327           0.002718            0.047163

In [102]:
logitperdict = logitmodel.predict(X)

In [103]:
pd.crosstab(y,logitperdict) # Confusion Matrix

col_0      0
row_0
0      50140
1       4668

In [104]:
50140/(50140+4668)

0.9148299518318493

In [105]:
X = dftrain.drop('is_promoted', axis = 1)

In [107]:
logit = LogisticRegression(max_iter = 2000)

# Convergence Warning - All Coefficient in equation are not calculated
# increase iterations or sclale indepent variables i soultion

In [108]:
logitmodel = logit.fit(X,y)

In [109]:
logitmodel.score(X,y) # Accuracy from confusion matrix

0.9317070500656839

In [110]:
logitpredict = logitmodel.predict(X)

In [111]:
pd.crosstab(y,logitpredict)

col_0      0     1
row_0
0      49835   305
1       3438  1230

In [112]:
(49835+1230)/(49835+1230+3438+305)

0.9317070500656839

In [113]:
49835/(49835+3438) # Recall

0.935464494209074

In [114]:
TN = 49835
FP = 305
FN = 3438
TP = 1230

# is_promoted - 0 is No - Negative
# is_promoted - 1 is Yes - Positive

In [122]:
recall = TP/(TP+FN)

In [123]:
recall

0.2634961439588689

In [124]:
precession = TP/(TP+FP) # Precesion

In [126]:
2 * ((precession*recall))/((precession+recall)) # f1 Score

0.39658229888763497

In [127]:
precession

0.8013029315960912

In [128]:
recall

0.2634961439588689

In [129]:
from sklearn.metrics import classification_report

In [131]:
print(classification_report(y,logitpredict))

# Imbalance Data or Imbalance in Dependent Variable Classes
# 0 - 50140 (Majority Class)
# 1 -  4668 (Minority Class)

              precision    recall  f1-score   support

           0       0.94      0.99      0.96     50140
           1       0.80      0.26      0.40      4668

    accuracy                           0.93     54808
   macro avg       0.87      0.63      0.68     54808
weighted avg       0.92      0.93      0.92     54808